
.createtabel {
	position: absolute;
	left: 124px;
	top: 274px;
	width: 1328px;
	height: 140px;
	z-index: 15;
}

#apDiv11 {
	position:absolute;
	left:765px;
	top:333px;
	width:579px;
	height:284px;
	z-index:4;
}
.image {
	position: absolute;
	width: 457px;
	height: 238px;
	left: 114px;
	top: 44px;
}
#apDiv12 {
	position:absolute;
	left:-39px;
	top:217px;
	width:313px;
	height:165px;
	z-index:5;
}
#newdiscuss{
	border:1px #333 solid;   
    padding:10px;
    background-color:#CCC;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
}
.image2 {
	position: absolute;
	left: 44px;
	width: 202px;
	top: 34px;
	height: 140px;
}
createtopic {
	font-size: 24px;
}
createtopic {
	font-size: 36px;
}
createtopic {
	color: #000;
}
.createtopic {
	font-size: 24px;
	color: #000;
}
.whole {
	position: absolute;
	left: 0px;
	top: 206px;
	width: 1390px;
	height: 513px;
}
