#messageBox {
	position:  relative;
	left: 0px;
	width: 100%;
	z-index: 2;
}

.userpicture{
	position:fixed;
	z-index:10;
	right:25px;
	top: 17px;
    width: 40px;
    height: 40px;
	border: 4px ridge #ffffff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#apDivHeaderContainer {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 79px;
	z-index: 0;
	background: #009900; 
	background: -moz-linear-gradient(top,  #009900 0%, #009900 74%, #009900 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009900), color-stop(74%,#009900), color-stop(100%,#009900)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #009900 0%,#009900 74%,#009900 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #009900 0%,#009900 74%,#009900 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #009900 0%,#009900 74%,#009900 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #009900 0%,#009900 74%,#009900 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009900', endColorstr='#009900',GradientType=0 ); /* IE6-9 */
}

#apDivLogo {
	position: absolute;
	left: 10px;
	top: 0px;
	width: 80px;
	height: 68px;
	z-index: 8;
}

#apDivUBar1{
	position: absolute;
	left: 0px;
	top: 73px;
	width: 100%;
	height: 3px;
	z-index: 1;
	background: #009900; 
	background: -moz-linear-gradient(top,  #009900 0%, #009900 74%, #009900 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009900), color-stop(74%,#009900), color-stop(100%,#009900)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #009900 0%,#009900 74%,#009900 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #009900 0%,#009900 74%,#009900 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #009900 0%,#009900 74%,#009900 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #009900 0%,#009900 74%,#009900 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99FF33', endColorstr='#009900',GradientType=0 ); /* IE6-9 */
}

#apDivUBar2 {
	position: absolute;
	left: 0px;
	top: 76px;
	width: 100%;
	height: 3px;
	z-index: 2;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+40,b3bead+100;Wax+3D+%233 */
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}

@font-face {
    font-family: Bauhaus93;
    src: url(../fonts/baasFont.ttf);
}

@font-face {
    font-family: MC;
    src: url(../fonts/bestWayFont.ttf);
}

#apDivBaasLk {
	position: absolute;
	box-sizing: border-box;
	left: 90px;
	top: -10px;
	font-family: "Bauhaus93";
	font-size: 45px;
	color: #5c5c5c;
	height: 59px;
	width: 141px;
}


#Home
{
	position: absolute;
	left: auto;
	top: 25px;
	width: 172px;
	height: 13px;
	z-index: 5;
	right: 15%;
}

#joinus{
	position: absolute;
	right: 130px;
	top: 4px;
	width: 102px;
	height: 28px;
	z-index: 2;	
}

#logout{
	position: fixed;
	right:20px;
	top: 100px;
	width: 65px;
	height: 20px;
	z-index: 5;
}

#login{
	position: absolute;
	right: 25px;
	top: 2px;
	width: 102px;
	height: 28px;
	z-index: 2;	
}

#name{
	position: absolute;
	right: 80px;
	top: 2px;
	width: 40px;
	height: 19px;
	z-index: 3;	
	font:"Arial Black", Gadget, sans-serif;
	font-size:28px;
	font-weight:bold;
}

#tamil{
	position: absolute;
	left: 950px;
	top: 53px;
	width: 47px;
	height: 20px;
	z-index: 1;	
}


#main-header{
	font-family: MC;
	z-index: 1;
	width: 512px;
	height: 41px;
	position: absolute;
	left: 350px;
	top: 5px;
	font-size: 35px;
	color: #7c7c7c;	
}


.menubar{
	position: absolute;	
	top: 53px;
	width: auto;
	height: 23px;
	z-index: 5;
	font-family: Arial;
	font-size: 12px;
	left: 100px;
}

#menubar{
}

.menubar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menubar li{
    float: left;
}


.menubar a:link{
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;	
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-right: 2px solid #009900;
	border-left: 2px solid #009900;	
	background: rgb(76,76,76); /* Old browsers */	
}

.menubar a:visited{
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;	
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-right: 2px solid #009900;
	border-left: 2px solid #009900;	
	background: rgb(76,76,76); /* Old browsers */
}

.menubar a:active{
	color: #000000;
	background: rgb(206,220,231); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}


.menubar a:hover{
	color: #000000;
	background: rgb(206,220,231); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}

.img-circle {
	width: 50px;// These are your circle dimensions
    height: 50px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;// Center image in the circle
    background-size: cover; // Make sure it covers the circle, as there is no bg repeat; 	
	border: medium solid rgba(51,51,51,1);
    }

#apDivProfPic{
	position: absolute;
	left: 1050px;
	top: 6px;
	width: 60px;
	height: 60px;
	z-index: 1;
}

#apDivLogout{
	position: absolute;
	right: 15px;
	top: 35px;
	width: 111px;
	height: 36px;
	z-index: 1;
}
