@charset "utf-8";
/* CSS Document */


.photos div {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
.photos div img.normal {
	z-index: 99;
	position: absolute;	
}
.photos div img.select {
	position: absolute;
}
#apDiv1 {
	position: absolute;
	width: 200px;
	height: 183px;
	z-index: 1;
}
#apDiv2 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 1;
}
#apDiv3 {
	position: absolute;
	width: 650px;
	height: 527px;
	z-index: 1;
	left: 298px;
	top: 138px;
}
#apDiv4 {
	position: absolute;
	width: 650px;
	height: 300px;
	z-index: 1;
	left: 358px;
	top: 114px;
}


#slider_wrapper{
	width:1000px;
	height:300px;
	display:relative;
	z-index:1;
	overflow:hidden;
	
}

#slide_back,#slide_front{
	width:650px;
	height:300px;
	position:absolute;
	left: 358px;
	top: 114px;
	z-index:2;
	overflow:hidden;
	
}

#controls{
	width: 650px;
	height: 300px;
	position: absolute;
	overflow: hidden;
	z-index: 3;
	left: 358px;
	top: 114px;
}

#arrow_wrapper{
	width: 650px;
	height: 30px;
	position: relative;
	z-index: 4;
	
	top:125px;
}

#left{
	width:30px;
	height:30px;
	cursor:pointer;
	background-image:url(Slides/arrowLeft.png);
	float:left;
	position:relative;
	z-index:5;
}

#left:hover{
	background-image:url(Slides/arrowLeftSel.png);
}


#right{
	width:30px;
	height:30px;
	cursor:pointer;
	background-image:url(Slides/arrowRight.png);
	float:right;
	position:relative;
	z-index:5;
}

#right:hover{
	background-image:url(Slides/arrowRightSel.png);
}

#jumpers{
	z-index: 5;
	position: absolute;
	left: 226px;
	top: 274px;
	text-align: center;
	width: 178px;
}

#jumpers ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

#jumpers ul li{
	display:inline-block;
	width:17px;
	height:5px;
	background-color:#000;
	margin:0 5px;
	opacity:0.75;
}

#jumpers ul li.current{
	background-color:#00ff90;
}
	
#jumpers ul li:hover{
	background-color:#fff;
	cursor:pointer;
}

#counter{
	display:none;
}

#findVehicle{
	width:118px;
	height:267px;
	border:none;
	outline:none;
}
