#apDivProfBox {
	position: absolute;
	left: 100px;
	top: 75px;
	width: 727px;
	height: 368px;
	z-index: 1;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(212,212,212,1);
	border-right-color: rgba(212,212,212,1);
	border-bottom-color: rgba(212,212,212,1);
	border-left-color: rgba(212,212,212,1);
	visibility: visible;
	
}

#spProfEditContainer
{
	position: relative;

}
#apDivProfAbout {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 44px;
	z-index: 5;
	background-color: #f6f7f9;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: rgba(204,204,204,1);
}
#apDivIcon {
	position: absolute;
	left: 2px;
	top: 0px;
	width: 44px;
	height: 43px;
	z-index: 3;
}
#apDivAbout {
	position: absolute;
	left: 61px;
	top: 2px;
	width: 130px;
	height: 38px;
	z-index: 1;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: rgba(0,0,0,1);
}
#apDivTopicList {
	position: absolute;
	left: 2px;
	top: 46px;
	width: 25%;
	z-index: 4;
	bottom: 0px;
	border-right: thin solid rgba(212,212,212,1);
	height: 309px;
}
#apDivTopic0,#apDivTopic1,#apDivTopic2,#apDivTopic3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 65px;
	z-index: 5;
	border-bottom: thin solid rgba(212,212,212,1);
}

#apDivTopic0{
	/*
	border-top:3px groove red;
	border-bottom :3px groove red;
	border-left :3px groove red;
	height : 60px;
	*/
	
	}
#apDivBar0,#apDivBar1,#apDivBar2,#apDivBar3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 3%;
	height: 98%;
	z-index: 2;
}
#apDivTag0 ,#apDivTag1,#apDivTag2 ,#apDivTag3{
	position: relative;
	left: 10%;
	top: 0px;
	width: 90%;
	padding-top: 20px;
	height: 100%;
	bottom :0px;
	z-index: 2;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color :grey;
}

#apDivBar0{
	background-color :orange;	
}

#apDivTag0:hover,#apDivTag1:hover,#apDivTag2:hover,#apDivTag3:hover{
	
	color: rgba(0,0,0,1);
} 
#apDivOptionBox1,#apDivOptionBox2, #apDivOptionBox0, #apDivOptionBox3 {
	position: absolute;
	left: 220px;
	top: 57px;
	width: 474px;
	height: 302px;
	z-index: 3;
	visibility : visible;
	box-sizing: border-box;
}
#apDivOptionBox0{
	box-sizing: border-box;
	left: 200px;
	z-index: 3;
	z-index: 4;
	visibility : visible;
	position: absolute;
	width: 540px;
}

	
#apDivOptionBox1{
	visibility : hidden;
	}
	
#apDivOptionBox2{
	visibility :hidden;
	}
	
#apDivOptionBox3{
	visibility :hidden;
	}

#apDivName {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 50px;
	z-index: 2;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: rgba(204,204,204,1);
}
#apDivBirthDate {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 50px;
	z-index: 2;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: rgba(204,204,204,1);
}
#apDivGender {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 50px;
	z-index: 2;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: rgba(204,204,204,1);
}
#apDivLanguage {
	position: relative;
	top: auto;
	width: 100%;
	height: 50px;
	z-index: 2;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: rgba(204,204,204,1);
	left: 0px;
	right: 0px;
	bottom: auto;
}
#apDiv1 {
	position: absolute;
	left: 300px;
	top: 221px;
	width: 554px;
	height: 181px;
	z-index: 2;
	box-sizing: border-box;
	border: 80px solid rgba(0,0,0,1);
}

label {
	position: relative;
	vertical-align: middle;
	}
input[type=text],
input[type=password],
input[type=submit],
input[type=email]  {
	display: block;
	margin-bottom: 15px;
	vertical-align: middle;
	}
input[type=checkbox] {
	margin-bottom: 15px;
	
	}
